//colors
$mediumBlue: #1E213A;
$darkBlue: #100E1D;
$lightGray: #E7E7EB;
$mediumGray: #A09FB1;
$moreDarkGray: #88869D;
$darkGray: #6E707A;
$buttonColor: #585676;
$navigationColor: #ffffff4d;
$lineColor: #FFEC65;
$modalColor: #616475;
$modalButtonColor: #3C47E9;
$wrongInput: #8b0000;

